name: CI

on:
  # allow manual running
  workflow_dispatch:
  push:
    branches:
    - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 18

    - run: npm ci
    - run: npm run lint

  test:
    needs: lint

    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        node:
        - 20

        - '*'
        exclude:
        - os: macos-latest
          node: '*'

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node }}

    - run: npm ci
    - run: npm test
      env:
        NODE_LTS: ${{ matrix.node != '*' }}
        DEBUG: boilerplate-update,git-diff-apply

  ember-cli-update:
    needs: test
    if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}
        token: ${{ secrets.GitHubToken }}
    - uses: actions/setup-node@v4
      with:
        node-version: 18

    - uses: kellyselden/ember-cli-update-action@v6
      with:
        autofix_command: npm run lint -- --fix
        ignore_to: true
